@using Test.Resources

@{
    ViewBag.Title = "EmailWasSent";
}

<h2>On your email was sent a letter with instructions for full registration. You have 24 hours to finish registration</h2>

@Html.ActionLink(AccountResources.LogIn, "LogIn")

