@using Test.Resources

@{
    ViewBag.Title = "ServerError";
}

@section Style{
    <link href="~/Content/ServerError/style.css" rel="stylesheet" />
}

<div class="wrap">
    <div class="title">
        <h1>Server Failed</h1>
        <h2>500 Error!</h2>
    </div>
    <div class="center">@Html.ActionLink(HomeResources.BackToHome, "Index", "Home", null, new { @class = "ag-3d_button orange" })</div>
</div>

